<div class="space-y-10 flex flex-col items-center justify-center">

  {{! Our Private Tours }}

  <section
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 place-items-center px-2 md:px-16 gap-4 w-full"
  >
    {{#each ToursCard}}
      <a
        href="{{this.Link}}"
        class="flex flex-col mt-6 text-gray-700 bg-white shadow-md rounded-xl w-auto max-w-80 h-[23rem] hover:scale-105 transition-all"
      >
        <div class="overflow-hidden shadow-lg rounded-none">
          <img src="{{this.Image}}" alt="{{this.Headers}}" />
        </div>

        <div class="flex flex-col justify-between flex-1 px-6 py-4 space-y-10">
          <div>
            <h6 class="font-medium text-gray-500 text-sm">Private Tours</h6>
            <h5
              class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
            >{{this.Headers}}</h5>
            <p
              class="block font-sans text-base antialiased font-light leading-relaxed text-inherit truncate"
            >{{this.Description}}</p>
          </div>

          <div class="text-end mt-4">
            <span>From </span>
            <span
              class="text-black font-bold text-xl"
            >{{this.Currency}}{{this.Price}}</span>
          </div>
        </div>
      </a>
    {{/each}}
  </section>
  {{! -------------------- }}

  {{! Reviews }}
  <section
    class="w-full min-h-screen py-10 md:min-h-[45rem] bg-[#04A9DE] flex flex-col justify-center items-center"
  >
    <p class="mb-4 mt-2 text-3xl md:text-4xl lg:text-5xl text-white">Reviews</p>
    <div class="owl-carousel owl-theme container h-auto w-full reviews">
      {{#each GlobalReviews}}
        <div class="item h-auto w-full">
          <div
            class="h-auto w-full flex items-center justify-center bg-[#04A9DE]"
          >
            <div class="w-3/4 text-center space-y-10">
              <div class="flex flex-col items-center justify-center space-y-10">
                <div class="w-36 h-36">
                  <img src="{{this.img}}" alt="" />
                </div>
              </div>
              <p
                class="mb-12 opacity-80 font-medium font-poppins italic text-white text-lg"
              >{{this.content}}</p>
              <p class="font-bold italic text-white">{{this.footer}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>

  {{! -------------------- }}

  {{! Why Turkey? }}
  <section
    class="flex-row-reverse font-poppins container flex justify-center items-center lg:flex-nowrap flex-wrap gap-10 px-6 my-10"
  >
    <img
      src="/img/privatetours/1.webp"
      class="block md:hidden rounded-3xl w-full md:h-96 bg-contain bg-center"
      alt=""
      data-aos="fade-left"
    />
    <div class="space-y-4">
      <h1
        clas
        class="font-semibold text-2xl md:text-3xl text-center md:text-start"
        data-aos="fade-left"
      >
        Why Turkey?
      </h1>
      <p
        class="font-normal tracking-widest font-poppins text-black text-lg text-justify w-full md:w-[42rem]"
        data-aos="fade-up"
      >
        Turkey is surrounded by three different seas, with history and culture
        that are simply unmatched. It is the origin of civilization, with lands
        that hundreds of emperors and sultans have walked. It is where the past
        meets the present – from the 1000-year-old bazaars to the modern cities,
        from the hot air balloons in Cappadocia to the historic mosques of
        Istanbul. It is a country that we are proud to call home. At Fadas
        Travel, our goal is to help you uncover these wonders, and provide the
        most beautiful Turkish experience possible.
      </p>
    </div>
    <img
      src="/img/privatetours/1.webp"
      class="hidden md:block rounded-3xl h-auto md:h-96 bg-contain bg-center"
      alt=""
      data-aos="fade-left"
    />
  </section>

  {{! -------------------- }}

  {{! YouTube Video Player and Accordion Menü }}
  <section class="px-2 md:px-0 lg:w-[70rem] space-y-10">
    <h1 class="text-2xl my-6 font-semibold text-gray-700">Turkey Travel FAQs</h1>

    <div class="accordion-container">
      {{! Do I need a visa to travel to Turkey? }}
      <div class="ac border-none border-0">

        <h2 class="ac-header h-12 border-none border-0">
          <button type="button" class="ac-trigger">
            Do I need a visa to travel to Turkey?</button>
        </h2>

        <div class="ac-panel px-10 text-justify border-none border-0 space-y-2">
          Depending on where you’re from, you may need a visa to enter Turkey.
          Travelers from many countries including New Zealand, the United
          Kingdom, Denmark, Finland, France, Germany, Japan, Norway, Sweden, and
          Switzerland don’t require a visa for stays of less than three months
          if the trip is for tourism purposes. Foreign nationals from countries
          including Australia, Canada, South Africa, and the USA will need an
          e-visa. An e-visa allows you to stay in Turkey for up to 90 days
          within a 180-day period. E-visas will be verified by passport control
          officers on their systems at ports of entry, but it’s a good idea to
          keep a copy of your e-visa on your phone, tablet, or as a hard copy,
          just in case. To see the complete list of countries that do and do not
          require a visa to travel to Turkey, please visit the
          <a
            href="https://www.mfa.gov.tr/visa-information-for-foreigners.en.mfa"
            target="_blank"
            class="text-red-500"
          >
            official Turkish government website.
          </a>
        </div>
      </div>
      {{! What's the weather like in Turkey? }}
      <div class="ac border-none border-0">

        <h2 class="ac-header h-12 border-none border-0">
          <button type="button" class="ac-trigger h-full">
            What's the weather like in Turkey?</button>
        </h2>

        <div class="ac-panel px-10 text-justify border-none border-0 space-y-2">
          Turkey is a very seasonal country, and can be enjoyed in every part of
          the year. It is hot in the summer and can even snow in the winter.
          Each season has its own beauty, so we recommend our country year
          round. We will let you know what clothing to pack before your trip in
          order to ensure you are weather-prepared!
        </div>
      </div>
      {{! Are credit cards accepted in Turkey? }}
      <div class="ac border-none border-0">

        <h2 class="ac-header h-12 border-none border-0">
          <button type="button" class="ac-trigger h-full">
            Are credit cards accepted in Turkey?</button>
        </h2>

        <div class="ac-panel px-10 text-justify border-none border-0 space-y-2">
          Major credit cards are widely accepted in tourist shopping areas and
          large hotels in Turkey. However, we still recommend carrying some cash
          just in case. We can also exchange your currency ourselves at current
          conversion rates during your trip, so you don’t need to worry about
          that!
        </div>
      </div>
      {{! Are meals included? }}
      <div class="ac border-none border-0">

        <h2 class="ac-header h-12 border-none border-0">
          <button type="button" class="ac-trigger h-full">
            Are meals included?</button>
        </h2>

        <div class="ac-panel px-10 text-justify border-none border-0 space-y-2">
          All breakfasts are included during your stays and are served at our
          hotels. Lunch is included during the days you are touring a city.
          Dinners are not included except for the Turkish Dance Show in
          Cappadocia. However, we will provide you with the best locations to
          eat for each city during your stay, so food will definitely won’t be a
          problem!
        </div>
      </div>
      {{! Can I use my mobile phone while in Turkey? }}
      <div class="ac border-none border-0">

        <h2 class="ac-header h-12 border-none border-0">
          <button type="button" class="ac-trigger h-full">
            Can I use my mobile phone while in Turkey?</button>
        </h2>

        <div class="ac-panel px-10 text-justify border-none border-0 space-y-2">
          Yes, most mobile services will work in Turkey. Coverage is good in
          large cities like Istanbul, but may be patchy in remote areas. If
          you’re visiting for a week or so, it might be better to use the SIM
          card from your mobile carrier at home. You’ll also need to make sure
          you have global roaming activated before you depart. However, fees can
          be on the pricey side so double-check what fees are involved to avoid
          an unexpected phone bill upon your return.
        </div>
      </div>

    </div>

    <section class="flex justify-center items-center container">
      <iframe
        src="https://www.youtube.com/embed/6texDFhF_co"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="w-full h-[30vh] md:h-[70vh]"
      ></iframe>
    </section>

  </section>

  {{! -------------------- }}

  {{! Explore Turkey with us }}

  <section
    class="w-full py-24 bg-[#F9F3EE] flex flex-col justify-center items-center gap-10"
  >
    <h1 class="font-poppins text-5xl text-center" data-aos="fade-right">
      Explore Turkey with us
    </h1>
    <a
      href="/privatetours"
      class="bg-red-400 hover:bg-blue-gray-400 transition text-white rounded-full py-4 px-9 font-bold"
      data-aos="fade-up"
    >
      View Tours
    </a>
  </section>

  {{! -------------------- }}

  {{! Subscribe to Our Newsletter }}

  <section
    class="w-auto h-auto flex flex-col justify-center items-center gap-10 py-10"
    data-aos="zoom-in-down"
  >
    <h1 class="text-center font-poppins text-blue-400 font-medium text-4xl">
      Subscribe to Our Newsletter
    </h1>
    <form
      action="/Subscribe-To-Our-Newsletter"
      method="POST"
      class="flex flex-col justify-center items-center gap-8"
    >
      <div class="relative h-11 w-auto min-w-[300px] md:min-w-[32vw]">
        <input
          type="text"
          name="name"
          placeholder="First Name"
          class="peer h-auto w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50 placeholder:opacity-0 focus:placeholder:opacity-100"
        />
        <label
          class="after:content[''] pointer-events-none absolute left-0 -top-1.5 flex h-auto w-full select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-auto after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-900 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
        >
          First Name
        </label>
      </div>
      <div class="relative h-11 w-auto min-w-[300px] md:min-w-[32vw]">
        <input
          placeholder="Email"
          name="email"
          class="peer h-auto w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-gray-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50 placeholder:opacity-0 focus:placeholder:opacity-100"
        />
        <label
          class="after:content[''] pointer-events-none absolute left-0 -top-1.5 flex h-auto w-full select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-auto after:scale-x-0 after:border-b-2 after:border-gray-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-900 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:after:scale-x-100 peer-focus:after:border-gray-900 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
        >
          Email
        </label>
      </div>
      <button
        type="submit"
        class="bg-blue-400 hover:bg-blue-gray-400 transition rounded w-full text-white font-semibold text-xl py-1.5"
      >
        Subscribe
      </button>

    </form>
  </section>

  {{! -------------------- }}

</div>